/*font-family: 'Alegreya', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Overpass Mono', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

:root {
  --branding-color: #01353c;
  --background-color: #efefef;
  --heading-font-family: "Fraunces", serif;
  --default-font: "Overpass Mono", monospace;
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 50px;
}

h1 {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
  font-family: var(--default-font);
  word-spacing: 1px;
  color: var(--branding-color);
  font-size: 38px;
  margin-bottom: 20px;
}
h5 {
  font-family: var(--default-font);
  color: var(--branding-color);
  margin-bottom: 45px;
  font-size: 20px;
}
h5 {
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 60px 0;
  margin-top: 50px;
}
.btn-contact {
  font-family: var(--default-font);
  background-color: #00262b;
  opacity: 0.8;
  color: #fff;
  font-weight: bolder;
  border: 6px double;
  border-radius: 7px;
  padding: 15px;
  text-decoration: none;
  transition: all 250ms linear;
}
.btn-contact:hover {
  background-color: #fff;
  color: var(--branding-color);
  font-size: large;
}

.btn-contact {
  animation-name: example;
  animation-duration: 6s;
}

@keyframes example {
  15% {
    background-color: #bbcacc;
  }
  20% {
    background-color: #457277;
  }
  55% {
    background-color: #276068;
  }
  100% {
    background-color: var(--branding-color);
  }
}

.intro-paragraph {
  color: var(--branding-color);
  margin-top: 40px;
  width: 700px;
  text-align: center;
  margin-left: 380px;
  line-height: 2;
  font-family: var(--default-font);
}
.intro-two-paragraph {
  color: var(--branding-color);
  margin-top: 40px;
  width: 700px;
  text-align: center;
  margin-left: 380px;
  line-height: 2;
  font-family: var(--default-font);
}

img {
  margin-top: 50px;
  max-width: 60%;
  height: auto;
  border: 15px solid;
  border-radius: 6px;
  border-color: var(--background-color);
  box-shadow: 8px 12px 40px;
}

body {
  margin-bottom: 50px;
}

h4 {
  margin-top: 40px;
}

.btn {
  font-family: var(--default-font);
  background-color: #00262b;
  opacity: 0.8;
  color: #fff;
  font-weight: bolder;
  border: 6px double;
  border-radius: 7px;
  padding: 15px;
  text-decoration: none;
  transition: all 250ms linear;
}
.btn:hover {
  background-color: #fff;
  color: var(--branding-color);
  font-size: large;
}
