/*font-family: 'Alegreya', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Overpass Mono', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

:root {
  --branding-color: #01353c;
  --background-color: #efefef;
  --super-background: rgb(250, 241, 241);
  --contrast-orange: #eb3c29;
  --heading-font-family: "Fraunces", serif;
  --default-font: "Overpass Mono", monospace;
}

.logo {
  max-width: 60px;
}

.social-media-zen {
  max-width: 25px;
}

.email-link {
  padding-top: 30px;
}

footer .contact-box {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 252, 214) 0%,
    rgba(255, 102, 102, 0.44) 90%
  );
  margin-left: 200px;
  margin-right: 200px;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  display: block;
  margin: 0;
  text-decoration: none;
  color: var(--branding-color);
  font-weight: bolder;
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

footer .social-media {
  color: var(--branding-color);

  margin: 0 65px;
  padding: 10px;
  border-radius: 8px;
  font-size: 25px;
}

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 35px;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 200ms ease-in-out;
}
nav a:hover {
  font-size: 25px;
  color: var(--branding-color);
}

nav li.active a {
  color: var(--contrast-orange);
}

.hello-content {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 55px;
  text-align: left;
}

.project-title {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 30px;
  font-weight: bold;
}

.my-name {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 50px;
  text-align: center;
}

.my-name {
  animation-duration: 2s;
  animation-name: slidein;
}

.work-title {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h5 {
  font-family: var(--default-font);
  color: var(--branding-color);
  margin-bottom: 45px;
  font-size: 20px;
}
h5 {
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.code-icon-title {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.code-icons {
  margin-left: 200px;
  margin-bottom: 70px;
}

.zendesk-icons {
  margin-left: 200px;
  margin-bottom: 80px;
}

.burger-gradiant {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 252, 214) 0%,
    rgba(255, 102, 102, 0.44) 90%
  );
  padding: 5px 50px;
}

.hero {
  margin: 0 auto;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 252, 214) 0%,
    rgba(255, 102, 102, 0.44) 90%
  );
  text-align: center;
  padding: 100px 0;
  width: 100%;
}

.btn-contact-me {
  font-family: var(--default-font);
  background-color: var(--branding-color);
  opacity: 0.8;
  color: #fff;
  font-weight: bolder;
  border: 6px double;
  border-radius: 7px;
  padding: 15px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.btn-contact-me:hover {
  background-color: var(--super-background);
  color: var(--branding-color);
  font-size: large;
}

.view-live {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  font-family: var(--default-font);
  background-color: var(--branding-color);
  opacity: 0.8;
  color: #fff;
  font-weight: bolder;
  border: 6px double;
  border-radius: 15px;
  margin-bottom: 80px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  margin: 0 auto;
  margin-bottom: 65px;
}
.view-live:hover {
  background-color: var(--super-background);
  color: var(--branding-color);
  font-size: large;
  max-width: 160px;
}

.btn-github {
  display: block;
  margin: 0 auto;
  max-width: 140px;
  font-family: var(--default-font);
  background-color: var(--branding-color);
  opacity: 0.8;
  color: #fff;
  font-weight: bolder;
  border: 6px double;
  border-radius: 15px;
  margin-bottom: 80px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  margin: 0 auto;
  margin-bottom: 10px;
}
.btn-github:hover {
  background-color: var(--super-background);
  color: var(--branding-color);
  font-size: large;
  max-width: 150px;
}

.btn-contact {
  font-family: var(--default-font);
  background-color: var(--branding-color);
  opacity: 0.8;
  color: #fff;
  font-weight: bolder;
  border: 6px double;
  border-radius: 7px;
  padding: 15px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.btn-contact:hover {
  background-color: var(--super-background);
  color: var(--branding-color);
  font-size: large;
}

.btn-contact {
  animation-name: example;
  animation-duration: 6s;
}

@keyframes example {
  15% {
    background-color: #f0cabe;
  }
  20% {
    background-color: #e79577;
  }
  55% {
    background-color: #eb7044;
  }
  100% {
    background-color: #db4711;
  }
}

body {
  margin-bottom: 50px;
}

h4 {
  margin-top: 40px;
}

.btn {
  font-family: var(--default-font);
  background-color: #00262b;
  opacity: 0.8;
  color: var(--super-background);
  font-weight: bolder;
  border: 6px double;
  border-radius: 7px;
  padding: 15px;
  text-decoration: none;
  transition: all 250ms linear;
}
.btn:hover {
  background-color: var(--super-background);
  color: var(--branding-color);
  font-size: large;
}

.img-alison {
  display: block;
  margin: 0 auto;
  width: 65%;
  text-align: right;
  margin: 30px;
  border-style: solid;
  border-width: 15px;
  border-radius: 8px;
  border-color: var(--background-color);
  box-shadow: 8px 8px 25px;
  margin-left: 100px;
}

.all-projects {
  display: block;
  margin: 0 auto;
  border-style: solid;
  border-width: 15px;
  border-radius: 8px;
  border-color: var(--background-color);
  box-shadow: 8px 8px 25px;
  margin-bottom: 15px;
  width: 40%;
  margin-left: 430px;
}

.about-section h1 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 60px;
  line-height: 1.2;
  text-align: left;
}
h2 {
  font-family: var(--default-font);
  color: var(--branding-color);
  margin-bottom: 45px;
  font-size: 30px;
  text-align: left;
}

.second-line {
  font-family: var(--default-font);
  color: var(--branding-color);
  margin-bottom: 45px;
  font-size: 23px;
  text-align: left;
}

.work-paragraph {
  font-family: var(--default-font);
  color: var(--branding-color);
  margin-bottom: 45px;
  font-size: 20px;
  text-align: center;
}

.intro-paragraph {
  margin: 0 auto;
  color: var(--branding-color);
  margin-top: 40px;
  text-align: right;
  max-width: 1000px;
  line-height: 2;
  font-family: var(--default-font);
}
.intro-two-paragraph {
  margin: 0 auto;
  color: var(--branding-color);
  text-align: right;
  max-width: 1000px;
  line-height: 2;
  font-family: var(--default-font);
  margin-bottom: 70px;
  margin-top: 35px;
}

.about-paragraph {
  color: var(--branding-color);
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: left;
  max-width: 900px;
  line-height: 2;
  font-family: var(--default-font);
}

.project-description {
  color: var(--branding-color);
  margin-top: 7px;
  font-family: var(--default-font);
  margin-bottom: 10px;
}

.about-section {
  padding: 40px 40px;
}

.about-section-content {
  margin: 30px;
}

h2 {
  font-family: var(--default-font);
  color: var(--branding-color);
  margin-bottom: 30px;
  font-size: 37px;
  text-align: center;
}

.contact-me {
  margin-top: 40px;
  text-align: center;
  font-family: var(--default-font);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 0.5;
}
.contact-me-two {
  padding: 30px;
  text-align: center;
  font-family: var(--default-font);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 0.5;
  font-weight: bolder;
  text-decoration: none;
}
.test {
  text-decoration: none;
  color: inherit;
}

.contact-me-two:hover {
  font-size: 30px;
  cursor: pointer;
}

body {
  background-color: var(--super-background);
}

@media (max-width: 900px) {
  .work-title {
    text-align: center;
    font-size: 30px;
  }

  .work-paragraph {
    text-align: center;
    font-size: 17px;
  }
  .project-title {
    text-align: center;
    font-size: 21px;
  }
  .all-projects {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .burger-gradiant {
    margin: 20px 20px;
    padding: 5px 50px;
  }

  .hello-content {
    text-align: center;
    font-size: 24px;
  }

  .second-line {
    text-align: center;
    font-size: 13px;
  }
  .about-paragraph {
    text-align: center;
    font-size: 10px;
    width: 330px;
  }
  .btn-contact-me {
    padding: 10px 10px;
    font-size: 14px;
  }
  .img-alison {
    display: block;
    margin: 0 auto;
    text-align: center;

    width: 45%;

    margin: 20px;
    border-style: solid;
    border-width: 10px;
    border-radius: 8px;
    border-color: var(--background-color);
    box-shadow: 7px 7px 25px;
    margin-left: 100px;
  }

  ul li {
    display: inline;
    list-style: none;
    line-height: 15px;
    margin-left: 10px;
    font-size: 10px;
  }

  .hero {
    text-align: centers;
  }
  .logo {
    width: 40px;
  }

  .my-name {
    font-size: 38px;
  }
  h2 {
    font-size: 25px;
  }
  h5 {
    font-size: 14px;
  }

  .btn-contact {
    font-size: medium;
    padding: 10px;
  }

  .intro-paragraph {
    text-align: center;
  }
  .intro-two-paragraph {
    text-align: center;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}
