/*font-family: 'Alegreya', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Fraunces', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Overpass Mono', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

:root {
  --branding-color: #01353c;
  --heading-font-family: "Fraunces", serif;
  --default-font: "Overpass Mono", monospace;
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-size: 50px;
}
h2 {
  font-family: var(--default-font);
  word-spacing: 1px;
  color: #01353c;
  font-size: 38px;
  margin-bottom: 20px;
}
h5 {
  font-family: "Overpass Mono", monospace;
  color: #01353c;
  margin-bottom: 45px;
  font-size: 20px;
}

.hero {
  background-color: #efefef;
  text-align: center;
  padding: 160px 0;
}
.btn-contact {
  font-family: "Overpass Mono", monospace;
  background-color: #00262b;
  opacity: 0.8;
  color: #fff;
  font-weight: bolder;
  border: 6px double;
  border-radius: 7px;
  padding: 15px;
  text-decoration: none;
}
.btn-contact:hover {
  background-color: #fff;
  color: #00262b;
  font-size: large;
}

.btn-contact {
  animation-name: example;
  animation-duration: 6s;
}

@keyframes example {
  0% {
    background-color: #f8f0e9;
  }
  25% {
    background-color: #f7c593;
  }
  50% {
    background-color: #e69647;
  }
  100% {
    background-color: #b16a24;
  }
}

h1 {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h5 {
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}
